# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# dependencies
/node_modules

# output
/dist
/tmp
/out-tsc
/coverage

# misc
/.nx
.svelte-kit
.wrangler
.env
.ssh

# vitepress
.vitepress
!.vitepress/*.ts
!.vitepress/theme

# python
/.venv

vite.config.*.timestamp*
vitest.config.*.timestamp*

/**/generated
/**/.vite

# typedoc
/typedoc

# nixos
/.direnv
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# sonar
/.scannerwork

# project-specific
/_*
