# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# dependencies
/node_modules

# output
/.lighthouse-reports
/dist
/tmp
/out-tsc
/coverage
/reports

# misc
/.nx
.astro
.next
.svelte-kit
.wrangler
.env
.ssh

# vitepress
.vitepress
!.vitepress/theme
!.vitepress/config.js
