@import "tailwindcss";

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);

    --color-logoBg: var(--logoBg);
    --color-logoBg-50: var(--logoBg-50);
    --color-logoBg-100: var(--logoBg-100);
    --color-logoBg-200: var(--logoBg-200);
    --color-logoBg-300: var(--logoBg-300);
    --color-logoBg-400: var(--logoBg-400);
    --color-logoBg-500: var(--logoBg-500);
    --color-logoBg-600: var(--logoBg-600);
    --color-logoBg-700: var(--logoBg-700);
    --color-logoBg-800: var(--logoBg-800);
    --color-logoBg-900: var(--logoBg-900);
    --color-logoBg-950: var(--logoBg-950);

    --color-bg: var(--bg);
    --color-bg-50: var(--bg-50);
    --color-bg-100: var(--bg-100);
    --color-bg-200: var(--bg-200);
    --color-bg-300: var(--bg-300);
    --color-bg-400: var(--bg-400);
    --color-bg-500: var(--bg-500);
    --color-bg-600: var(--bg-600);
    --color-bg-700: var(--bg-700);
    --color-bg-800: var(--bg-800);
    --color-bg-900: var(--bg-900);
    --color-bg-950: var(--bg-950);
}

@theme {
    --color-error-light: var(--color-red-600);
    --color-error-dark: var(--color-red-800);

    --breakpoint-xs: 32rem;

    --font-sans: "Lato", sans-serif;
    --animate-backdrop: backdrop 0.2s ease-in-out forwards;
    --animate-backdropReverse: backdropReverse 0.2s ease-in-out forwards;
    --animate-flyInRight: flyInRight 0.2s ease-in-out forwards;
    --animate-flyOutRight: flyOutRight 0.2s ease-in-out forwards;
    --animate-fadeInBT: fadeInBT 0.5s ease-in-out forwards;
    --animate-fadeIn: fadeIn 0.5s ease-in-out forwards;

    @keyframes backdrop {
        0% {
            backdrop-filter: blur(0px) brightness(1);
        }
        100% {
            backdrop-filter: blur(4px) brightness(0.5);
        }
    }
    @keyframes backdropReverse {
        0% {
            backdrop-filter: blur(4px) brightness(0.5);
        }
        100% {
            backdrop-filter: blur(0px) brightness(1);
        }
    }
    @keyframes flyInRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    @keyframes flyOutRight {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(100%);
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
            display: none;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeInBT {
        0% {
            opacity: 0;
            transform: translateY(1rem);
            display: none;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
