@import "tailwindcss";

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@theme {
    --breakpoint-xs: 32rem;

    --font-sans: "Lato", sans-serif;
    --animate-backdrop: backdrop 0.2s ease-in-out forwards;
    --animate-backdropReverse: backdropReverse 0.2s ease-in-out forwards;
    --animate-flyInRight: flyInRight 0.2s ease-in-out forwards;
    --animate-flyOutRight: flyOutRight 0.2s ease-in-out forwards;
    --animate-fadeInBT: fadeInBT 0.5s ease-in-out forwards;
    --animate-fadeIn: fadeIn 0.5s ease-in-out forwards;

    @keyframes backdrop {
        0% {
            backdrop-filter: blur(0px) brightness(1);
        }
        100% {
            backdrop-filter: blur(4px) brightness(0.5);
        }
    }
    @keyframes backdropReverse {
        0% {
            backdrop-filter: blur(4px) brightness(0.5);
        }
        100% {
            backdrop-filter: blur(0px) brightness(1);
        }
    }
    @keyframes flyInRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    }
    @keyframes flyOutRight {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(100%);
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
            display: none;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeInBT {
        0% {
            opacity: 0;
            transform: translateY(1rem);
            display: none;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
