global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: netdata
    metrics_path: /api/v1/allmetrics
    params:
      format: [prometheus]
    honor_labels: true
    static_configs:
      - targets: ["host.docker.internal:19999"]

  - job_name: gitlab
    metrics_path: /-/metrics
    params:
      format: [prometheus]
    honor_labels: true
    static_configs:
      - targets: [gitlab]

  - job_name: mlflow
    metrics_path: /metrics
    params:
      format: [prometheus]
    honor_labels: true
    static_configs:
      - targets: ["mlflow:${MLFLOW_PORT}"]

  - job_name: navidrome
    metrics_path: /metrics_${MUSIC_PLATFORM_PROMETHEUS_METRICS_PATH_SECRET}
    static_configs:
      - targets: ["navidrome:${MUSIC_PLATFORM_PORT}"]
