@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url("../font/JetbrainsMono.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter.woff2") format("woff2");
    font-display: swap;
}
